@import 'tailwindcss';

/* Déclaration de la police */
@font-face {
  font-family: 'Carter One';
  src: url('../fonts/CarterOne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Police par défaut pour tout */
@layer base {
  html {
    font-family: 'Carter One', cursive;
  }
}
