@import 'tailwindcss';

/* Déclaration de la police */
@font-face {
  font-family: 'Lilex';
  src: url('../fonts/Lilex-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Police par défaut pour tout le site */
@layer base {
  html {
    font-family: 'Lilex', monospace;
    font-weight: 700;
  }
}
